@tailwind base;
@tailwind components;
@tailwind utilities;


/* Primary color */
.text-primary, svg  {
    color: rgb(219, 33, 33);
}

.button-reserva{
    background-color: rgb(219, 33, 33);
}

.text-gray-700{
    color: rgb(139, 139, 139);
}

.reservar-btn{
    color: white;
    margin: 0px 15px;
}

.bg-content1 {
    background-color: transparent;
}

/* Estilos CSS (puedes adaptarlos según tu diseño) */
footer {
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80px;
}
.footer-content2 {
    background-color: rgb(219, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80px;
}
  

.phone-icons {
    display: flex;
    align-items: center;
    color: aliceblue;
}
  
.phone-icons span {
    margin-left: 8px;
}
  